/Android Open Source Project
/autostart
/create-next-app-nodejs
/chromium
/google-chrome
/github-copilot
/pulse
/Code
/sublime-text
/rog
/dconf
/hardhat-nodejs
/obs-studio
/obsidian
/spotify
/kde.org
/kdiskmark
/session
/solana
/discord
/eipihany
/evolution
/goa-1.0
/go
/Google
/gtk-4.0
/menus
/Mattermost
/Notion
/nvim/lazyvim.json
/totem
/WebCord
/qt5ct
/JetBrains
/qt6ct
/libreoffice
/vlc
/gtk-3.0
/xfce4
/Thunar
/configstore
/nextjs-nodejs
/zed
/htop
/yelp
/simple-scan
/Electron
/GIMP
/gtk-2.0
/Postman
/systemd
/spicetify
/yarn
arkrc
background
baloofilerc
kiorc
konsolerc
konsolesshconfig
mimeapps.list
trashrc
pavucontrol.ini
baloofileinformationrc
dolphinrc
kcalcrc
QtProject.conf
ktrashrc
okularrc
filetypesrc
gwenviewrc
okularpartrc
.gsd-keyboard.settings-ported
kdenliverc
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
connections.db
