/google-chrome
/pulse
/Code
/sublime-text
/rog
/dconf
/obs-studio
/spotify
/kde.org
/session
/discord
/WebCord
/qt5ct
/JetBrains
arkrc
kiorc
konsolerc
konsolesshconfig
mimeapps.list
trashrc
pavucontrol.ini
baloofileinformationrc
dolphinrc