/Android Open Source Project
/autostart
/chromium
/google-chrome
/pulse
/Code
/sublime-text
/rog
/dconf
/obs-studio
/spotify
/kde.org
/session
/discord
/eipihany
/evolution
/goa-1.0
/Google
/gtk-4.0
/menus
/totem
/WebCord
/qt5ct
/JetBrains
/qt6ct
/libreoffice
/vlc
/gtk-3.0
/xfce4
/Thunar
/configstore
/nextjs-nodejs
/zed
/htop
/yelp
arkrc
kiorc
konsolerc
konsolesshconfig
mimeapps.list
trashrc
pavucontrol.ini
baloofileinformationrc
dolphinrc
kcalcrc
QtProject.conf
ktrashrc
okularrc
filetypesrc
gwenviewrc
okularpartrc
kdenliverc
kdenlive-layoutsrc
.gsd-keyboard.settings-ported
kdenliverc
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
