* {
  /* Install apple-font */
  font-family: SF Pro Display;
  font-size: 14px;
  color: white;
  background: transparent;
}

#waybar {
  background-color: rgba(28, 28, 30, 0.5);
}

#custom-appmenu,
#custom-appmenuwlr,
#custom-exit,
#clock,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#tray,
#language,
#temperature {
  font-weight: 500;
  padding: 6px 8px;
}

#custom-appmenu,
#custom-appmenuwlr {
  margin-left: 8px;
  font-size: 20px;
}

#custom-exit {
  margin-right: 8px;
}

#battery {
  font-size: 20px;
}
#battery.charging,
#battery.full,
#battery.plugged {
  color: #26a65b;
}

#window {
  padding: 0 5px;
  font-weight: 600;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #333436;
}

#tray menu {
  background-color: #333436;
}

#tray menuitem {
  padding: 6px;
  background-color: #333436;
}

#tray menuitem:hover {
  background-color: #535353;
  color: #8f8f8f;
}

/* Tooltips */
tooltip {
  border-radius: 12px;
  background-color: #333436;
  opacity: 0.9;
}

#language {
  padding: 0px 4px;
}

#workspaces {
  padding-right: 4px;
  border: none;
}

#workspaces button {
  border: none;
}

#workspaces button:hover {
  border: none;
}

#workspaces button.active {
  font-weight: 800;
}
